<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Save to Evernote</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSave()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSave()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="New Note Name" ng-model="noteData.newNoteName">
        </label>
        <label class="item item-divider">
          Or select one from last 5 notes updated
        </label>
        <label class="item item-radio" ng-repeat="note in notes">
          <input type="radio" name="note" ng-model="noteData.selectedNoteGuid" value="{{note.guid}}">
          <div class="item-content">{{note.title}}</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>

      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Save</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
